{% extends 'layout.html' %}

{% block content %}

<main>
    <div class="inner">
        <div class="jumbotron-container">
            <div class="jumbotron-item-main">
                <div class="jumbotron-item-main-message">
                    <p>매일매일 쌓아가는,</p>
                    <h2>영단어 외우기</h2>
                </div>
                <div class="jumbotron-item-main-image"></div>
            </div>
            <!-- jumbotron-item-main -->
            <div class="jumbotron-item-sub">
                <p>잊어 버리기 쉬운 영단어를 </p>
                <p><span>Easy, Middle, Advance</span>로 분류해서 외워봅시다</p>
            </div>
            <div class="word-finding">
                <form id="word-form" action="/index" method="get">
                    <input id="english" type="text" placeholder="검색할 영어단어 입력" name="english">
                    <button class="word-find-eng-btn" id="matrix-input-btn-search" type="submit">검색하기</button>
                </form>
                {% if words %}
                <p class="word-find-result">[결과값]
                    영단어 : <span class="word-find-result-eng">{{word.english}}</span>
                    한글 : <span class="word-find-result-kor">{{word.korean}}</span> 종류 : <span
                        class="word-find-result-type">{{word.type}}</span>
                </p>
                {% endif %}
            </div>
        </div>
        <!-- jumbotron-container -->
        <div class="word-counting">
            <p>외운 단어 수 : <span id="word-counting-checked">0</span></p>
            <p>총 단어 수 : <span id="word-counting-all">0</span></p>
        </div>
        <div class="matrix-container">
            <div class="matrix-item">
                <div class="matrix-item-header">
                    <div class="matrix-title">🥉 Easy </div>
                    <form id="word-form" action="/word/write" method="post">
                        <input id="english" type="text" placeholder="영어 입력" name="english">
                        <input id="korean" type="text" placeholder="한글 입력" name="korean">
                        <input id="checkboxs" type="checkbox" placeholder="easy" name="type" value="easy">
                        <label for="easy" class="label-easy">easy</label>
                        <button class="matrix-input-btn-easy" id="matrix-input-btn" type="submit">등록하기</button>
                    </form>
                </div>

                <!-- matrix-item-header -->
                <ul class="matrix-item-list">
                    {% if user and user.id %}
                    {% for word in wordsEasy %}
                    <li class="list-item" id="${word.wordIdx}">
                        <div class="done-text-container">
                            <input type="checkbox" class="word-done" {{word.status}} name="countCheckbox"
                                onClick="getCountCheckbox()" />
                            <p class="word-text-eng">{{word.english}}</p>
                        </div>
                        <div class="done-text-container">
                            <p class="word-text-kor">{{word.korean}}</p>
                            <p class="word-text-eng">[{{word.id}}]</p>
                        </div>
                        <div class="update-delete-container">
                            <i class="word-update fa-solid fa-pencil"></i>
                            <i class="word-delete fa-solid fa-trash-can"></i>
                        </div>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="matrix-item" id="middle">
                <div class="matrix-item-header">
                    <div class="matrix-title">🥈 Middle </div>
                    <form id="word-form" action="/word/write" method="post">
                        <input id="english" type="text" placeholder="영어 입력" name="english">
                        <input id="korean" type="text" placeholder="한글 입력" name="korean">
                        <input id="checkboxs" type="checkbox" placeholder="easy" name="type" value="middle">
                        <label for="middle">middle</label>
                        <button class="matrix-input-btn-easy" id="matrix-input-btn" type="submit">등록하기</button>
                    </form>
                </div>

                <!-- matrix-item-header -->
                <ul class="matrix-item-list">
                    {% if user and user.id %}
                    {% for word in wordsMiddle %}
                    <li class="list-item" id="${word.wordIdx}">
                        <div class="done-text-container">

                            <input type="checkbox" class="word-done" {{word.status}} name="countCheckbox"
                                onClick="getCountCheckbox()" />
                            <p class="word-text-eng">{{word.english}}</p>
                        </div>
                        <div class="done-text-container">
                            <p class="word-text-kor">{{word.korean}}</p>
                            <p class="word-text-eng">[{{word.id}}]</p>
                        </div>
                        <div class="update-delete-container">
                            <i class="word-update fa-solid fa-pencil"></i>
                            <i class="word-delete fa-solid fa-trash-can"></i>
                        </div>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <!-- matrix-item do -->
            <div class="matrix-item" id="advance">
                <div class="matrix-item-header">
                    <div class="matrix-title">🥇 Advance </div>
                    <form id="word-form" action="/word/write" method="post">
                        <input id="english" type="text" placeholder="영어 입력" name="english">
                        <input id="korean" type="text" placeholder="한글 입력" name="korean">
                        <input id="checkboxs" type="checkbox" placeholder="easy" name="type" value="advance">
                        <label for="advance">advance</label>
                        <button class="matrix-input-btn-easy" id="matrix-input-btn" type="submit">등록하기</button>
                    </form>
                </div>
                <!-- matrix-item-header -->
                <ul class="matrix-item-list">
                    {% if user and user.id %}
                    {% for word in wordsAdvance %}
                    <li class="list-item" id="${word.wordIdx}">
                        <div class="done-text-container">

                            <input type="checkbox" class="word-done" {{word.status}} name="countCheckbox"
                                onClick="getCountCheckbox()" />
                            <p class="word-text-eng">{{word.english}}</p>
                        </div>
                        <div class="done-text-container">
                            <p class="word-text-kor">{{word.korean}}</p>
                            <p class="word-text-eng">[{{word.id}}]</p>
                        </div>
                        <div class="update-delete-container">
                            <i class="word-update fa-solid fa-pencil"></i>
                            <i class="word-delete fa-solid fa-trash-can"></i>
                        </div>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="deleted-items">
                <div class="deleted-item-list">
                    <p>삭제한 단어들</p>
                    <button class="deletedWord-btn" id="D">단어 확인하기</button>
                    <button class="deletedWord-btn-close">닫기</button>
                    <div class="deletedWord-result" name="deletedItems">

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
            alert(new URL(location.href).searchParams.get('loginError'));
        }
    };

    //word-easy 수정 - 체크박스


    //word-easy 수정
    // document.querySelectorAll('word-update').addEventListener('click', async (event) => {
    //     english = prompt("수정할 영어단어를 입력하세요");
    //     korean = prompt("수정할 단어 뜻을 입력하세요");
    //     event.preventDefault();

    //     console.log(english, korean, type);

    //     if (!english || !korean) {
    //         alert("영어, 한글 단어를 입력해주세요");
    //         return false;
    //     }

    //     try {
    //         await axios.post('/word/easy', { english, korean, type });
    //         // getUser();
    //     } catch (err) {
    //         console.error(err);
    //     }
    //     english.value = '';
    //     korean.value = '';
    //     type.value = "easy";
    // });

</script>
{% endblock %}