{% extends 'layout.html' %}

{% block content %}

<main>
    <div class="inner">
        <div class="jumbotron-container">
            <div class="jumbotron-item-main">
                <div class="jumbotron-item-main-message">
                    <p>매일매일 쌓아가는,</p>
                    <h2>영단어 외우기</h2>
                </div>
                <div class="jumbotron-item-main-image"></div>
            </div>
            <!-- jumbotron-item-main -->
            <div class="jumbotron-item-sub">
                <p>잊어 버리기 쉬운 영단어를 </p>
                <p><span>Easy, Middle, Advance</span>로 분류해서 외워봅시다</p>
            </div>
            <div class="word-finding">
                <input type="text" class="word-find-eng" placeholder="검색할 영어 단어는?" value='' id="matrix-input-eng" />
                <button class="word-find-eng-btn" id="matrix-input-btn">검색하기</button>
                <p class="word-find-result">[결과값]
                    영단어 : <span class="word-find-result-eng"></span>
                    한글 : <span class="word-find-result-kor"></span> 종류 : <span class="word-find-result-type"></span>
                </p>
            </div>
        </div>
        <!-- jumbotron-container -->
        <div class="word-counting">
            <p>외운 단어 수 : <span id="word-counting-checked">0</span></p>
            <p>총 단어 수 : <span id="word-counting-all">0</span></p>
        </div>
        <div class="matrix-container">
            <form id="easy" action="/word/easy" method="post" enctype="multipart/form-data"></form>
            <div class="matrix-item" value="easy">
                <!-- <div class="matrix-item" id="easy"> -->
                <div class="matrix-item">
                    <div class="matrix-item-header">
                        <div class="matrix-title">🥉 Easy</div>
                        <input type="text" class="matrix-input-eng-easy" placeholder="영어 입력 후 엔터" value=''
                            id="matrix-input-eng" />
                        <input type="text" class="matrix-input-kor-easy" placeholder="한글 입력 후 엔터" value=''
                            id="matrix-input-kor" />
                        <button id="matrix-input-btn" type="submit" class="matrix-input-btn-easy">등록하기</button>
                        <!-- <button class="matrix-input-btn-easy" id="matrix-input-btn">등록하기</button> -->
                    </div>
                    <!-- matrix-item-header -->
                    <ul class="matrix-item-list" id="sections">

                    </ul>
                    <!-- matrix-item-list -->
                </div>
                </form>
                <!-- matrix-item decide -->
                <div class="matrix-item" id="middle">
                    <div class="matrix-item-header">
                        <div class="matrix-title">🥈 Middle </div>
                        <input type="text" class="matrix-input-eng-middle" placeholder="영어 입력 후 엔터" value=''
                            id="matrix-input-eng" />
                        <input type="text" class="matrix-input-kor-middle" placeholder="한글 입력 후 엔터" value=''
                            id="matrix-input-kor" />
                        <button class="matrix-input-btn-middle" id="matrix-input-btn">등록하기</button>
                    </div>
                    <!-- matrix-item-header -->
                    <ul class="matrix-item-list">

                    </ul>
                    <!-- matrix-item-list -->
                </div>
                <!-- matrix-item do -->
                <div class="matrix-item" id="advance">
                    <div class="matrix-item-header">
                        <div class="matrix-title">🥇 Advance </div>
                        <input type="text" class="matrix-input-eng-advance" placeholder="영어 입력 후 엔터" value=''
                            id="matrix-input-eng" />
                        <input type="text" class="matrix-input-kor-advance" placeholder="한글 입력 후 엔터" value=''
                            id="matrix-input-kor" />
                        <button class="matrix-input-btn-advance" id="matrix-input-btn">등록하기</button>
                    </div>
                    <!-- matrix-item-header -->
                    <ul class="matrix-item-list">

                    </ul>
                </div>
                <div class="deleted-items">
                    <div class="deleted-item-list">
                        <p>삭제한 단어들</p>
                        <button class="deletedWord-btn" id="D">단어 확인하기</button>
                        <button class="deletedWord-btn-close">닫기</button>
                        <div class="deletedWord-result" name="deletedItems">

                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    //글쓰기
    // document.querySelectorAll('.matrix-input-btn-easy').forEach(function (tag) {
    //     tag.addEventListener('click', function () {
    //         const myId = document.querySelector('#my-id');
    //         if (myId) {
    //             const userId = tag.parentNode.querySelector('.twit-user-id').value;
    //             const twitId = document.querySelector(".twit-id").value
    //             if (userId === myId.value) {
    //                 if (confirm('삭제하시겠습니까?')) {
    //                     axios.delete(`/post/${twitId}`)
    //                         .then(() => {
    //                             location.reload();
    //                         })
    //                         .catch((err) => {
    //                             console.error(err);
    //                         });
    //                 }
    //             }
    //         }
    //     });
    // });

    window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
            alert(new URL(location.href).searchParams.get('loginError'));
        }
    };
</script>
{% endblock %}