<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/header.css" />
    <link rel="stylesheet" href="./css/mainStyle.css">
</head>

<body>
    <header>
        <div class="inner">
            <div class="header-container">
                <div class="title">
                    <a href="index.html">영단어 외우기</a>
                    <a href="main" style="margin-left: 10px;">SNS</a>
                </div>
                <div class="sign-container">
                    <div class="unsigned">
                        <div class="sign-in"><a href="/login">로그인</a></div>
                        <div class="sign-up"><a href="/join">회원가입</a></div>
                    </div>
                    <div class="signed ">
                        <div class="dropdown">
                            <div class="dropdown-content">
                                <button id="sign-out">로그아웃</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="profile-wrap-login">
            <div class="profile-login">
                {% if user and user.id %}
                <div class="user-name">{{'안녕하세요! ' + user.nickname + '님'}}</div>
                <div class="half">
                    <div>팔로잉</div>
                    <div class="count following-count">{{followingCount}}</div>
                </div>
                <div class="half">
                    <div>팔로워</div>
                    <div class="count follower-count">{{followerCount}}</div>
                </div>
                <input id="my-id" type="hidden" value="{{user.id}}">
                <a id="my-profile" href="/profile" class="btn">내 프로필</a>
                <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
                {% else %}
                <div class="hello">영단어 SNS에 오신 것을 환영합니다!</div>
                {% endif %}
            </div>

            {% block content %}
            {% endblock %}

            {% block login %}
            {% endblock %}
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        window.onload = () => {
            if (new URL(location.href).searchParams.get('loginError')) {
                alert(new URL(location.href).searchParams.get('loginError'));
            }
        };
    </script>
    {% block script %}
    {% endblock %}
</body>

</html>