<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/header.css" />
    <link rel="stylesheet" href="./css/mainStyle.css">
    <link rel="stylesheet" href="./css/footer.css" />
    <link rel="stylesheet" href="./css/jumbotron.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="inner">
            <div class="header-container">
                <div class="title">
                    <a href="/index" class="index">영단어 외우기</a>
                    <a href="/main" class="main">SNS</a>
                </div>
                <div class="sign-container">
                    {% if user and user.id %}
                    <div class="signed">
                        <div class="user-name logout">{{'안녕하세요! ' + user.nickname + '님'}}</div>
                        <a id="logout" href="/auth/logout" class="btn-logout">로그아웃</a>
                    </div>
                    {% else %}
                    <div class="unsigned">
                        <div class="sign-in"><a href="/login">로그인</a></div>
                        <div class="sign-up"><a href="/join">회원가입</a></div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}

        {% block login %}
        {% endblock %}
    </div>
    <!-- <footer style="position: relative;
    top: 18vh;">
        <div class="inner">
            <div class="footer-container">
                <div class="author">개발자 : 류지혜</div>
                <div class="author-email">이메일 : 131ryuji@gmail.com</div>
            </div>
        </div>
    </footer> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        window.onload = () => {
            if (new URL(location.href).searchParams.get('loginError')) {
                alert(new URL(location.href).searchParams.get('loginError'));
            }
        };
    </script>
    {% block script %}
    {% endblock %}
</body>

</html>